* {
    font-family: arial;
}



.contents{
    background-color:#EEE;
    padding: 20px 50px;

}
.bookmarker{
    margin: 30px;
}
.container h3{
color: #AAA;
padding: 20px;

font-size: 30px;
}

footer h4{
color: #AAA;

font-size: 15px;
}